<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Element Occurrence Attributes</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>

<p>Draft: Update of the IFC 2x3 based FM Handover View to IFC4 Add 2</p>

<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.3.1.2");
//-->
</script>

<h4 class="std">4.3.1.2 Element Occurrence Attributes</h4>
<p>Physical elements may be further identified via the <i>Tag</i> attribute. This is a human readable identifier such as an element or item number While there is no restriction on usage of such tags, it is recommended the <i>Tag</i> is unique within it's containing scope. </p><p class="fig-ref">Figure 11 illustrates an instance diagram.</p>
<table><tr><td><img alt="Element Occurrence Attributes" src="./diagrams/element-occurrence-attributes.png" usemap="#f11"><map name="f11"><area shape="rect" coords="8,8,176,404" href="../ifcproductextension/lexical/ifcelement.htm" alt="IfcElement" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifcidentifier.htm" alt="IfcIdentifier" /></map></td></tr><tr><td><p class="figure">Figure 11 &mdash; Element Occurrence Attributes</p></td></tr></table>

<p><a href="http://jira.buildingsmart.org/issues/?jql=project%20%3D%20IFR%20AND%20text%20~%20%22element-occurrence-attributes%22" target="_blank" ><img src="../../img/external.png" style="border: 0px" title="Report issue" alt="Report issue"/>&nbsp; Report an issue</a></p>
<p><a href="../../link/element-occurrence-attributes.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p>By Reinhard Wimmer</p>
  </body>
</html>
