<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Element Space Boundaries</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>

<p>Draft: Update of the IFC 2x3 based FM Handover View to IFC4 Add 2</p>

<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.9.13");
//-->
</script>

<h3 class="std">4.9.13 Element Space Boundaries</h3>
<p class="fig-ref">Figure 50 illustrates an instance diagram.</p>
<table><tr><td><img alt="Element Space Boundaries" src="./diagrams/element-space-boundaries.png" usemap="#f50"><map name="f50"><area shape="rect" coords="8,8,176,404" href="../ifcproductextension/lexical/ifcbuildingelement.htm" alt="IfcBuildingElement" /><area shape="rect" coords="208,8,376,152" href="../ifcproductextension/lexical/ifcrelspaceboundary1stlevel.htm" alt="IfcRelSpaceBoundary1stLevel" /><area shape="rect" coords="408,8,576,20" href="../ifcproductextension/lexical/ifcspaceboundaryselect.htm" alt="IfcSpaceBoundarySelect" /><area shape="rect" coords="408,40,576,436" href="../ifcproductextension/lexical/ifcbuildingelement.htm" alt="IfcBuildingElement" /></map></td></tr><tr><td><p class="figure">Figure 50 &mdash; Element Space Boundaries</p></td></tr></table>

<hr/>
<h4>Basic_FM_Handover_View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/basic_fm_handover_view/basic.htm"><img width="16" src="../../img/mvd-basic.png" title="BASIC"/></a></th>
</tr><tr><td><a href="../ifcsharedbldgelements/lexical/ifcdoor.htm">IfcDoor</a></td><td>-<br/>R</td>
</tr>
<tr><td><a href="../ifcsharedbldgelements/lexical/ifcwindow.htm">IfcWindow</a></td><td>-<br/>R</td>
</tr>
</table>
<p><a href="http://jira.buildingsmart.org/issues/?jql=project%20%3D%20IFR%20AND%20text%20~%20%22element-space-boundaries%22" target="_blank" ><img src="../../img/external.png" style="border: 0px" title="Report issue" alt="Report issue"/>&nbsp; Report an issue</a></p>
<p><a href="../../link/element-space-boundaries.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p>By Reinhard Wimmer</p>
  </body>
</html>
