<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Furnishing Attributes</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>

<p>Draft: Update of the IFC 2x3 based FM Handover View to IFC4 Add 2</p>

<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.9.5");
//-->
</script>

<h3 class="std">4.9.5 Furnishing Attributes</h3>
<p class="fig-ref">Figure 42 illustrates an instance diagram.</p>
<table><tr><td><img alt="Furnishing Attributes" src="./diagrams/furnishing-attributes.png" usemap="#f42"><map name="f42"><area shape="rect" coords="8,8,176,404" href="../ifcproductextension/lexical/ifcfurnishingelement.htm" alt="IfcFurnishingElement" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,52" href="../ifcmeasureresource/lexical/ifctext.htm" alt="IfcText" /></map></td></tr><tr><td><p class="figure">Figure 42 &mdash; Furnishing Attributes</p></td></tr></table>

<hr/>
<h4>Basic_FM_Handover_View</h4>
<table class="exchange">
<tr><th>Entity</th><th><a href="../views/basic_fm_handover_view/basic.htm"><img width="16" src="../../img/mvd-basic.png" title="BASIC"/></a></th>
</tr><tr><td><a href="../ifcproductextension/lexical/ifcfurnishingelement.htm">IfcFurnishingElement</a></td><td>-<br/>R</td>
</tr>
</table>
<p><a href="http://jira.buildingsmart.org/issues/?jql=project%20%3D%20IFR%20AND%20text%20~%20%22furnishing-attributes%22" target="_blank" ><img src="../../img/external.png" style="border: 0px" title="Report issue" alt="Report issue"/>&nbsp; Report an issue</a></p>
<p><a href="../../link/furnishing-attributes.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p>By Reinhard Wimmer</p>
  </body>
</html>
