<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Material</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>

<p>Draft: Update of the IFC 2x3 based FM Handover View to IFC4 Add 2</p>

<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.8.3.1");
//-->
</script>

<h4 class="std">4.8.3.1 Material</h4>
<p class="fig-ref">Figure 37 illustrates an instance diagram.</p>
<table><tr><td><img alt="Material" src="./diagrams/material.png" usemap="#f37"><map name="f37"><area shape="rect" coords="8,8,176,128" href="../ifcmaterialresource/lexical/ifcmaterial.htm" alt="IfcMaterial" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,52" href="../ifcmeasureresource/lexical/ifctext.htm" alt="IfcText" /><area shape="rect" coords="208,72,376,84" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 37 &mdash; Material</p></td></tr></table>

<p><a href="http://jira.buildingsmart.org/issues/?jql=project%20%3D%20IFR%20AND%20text%20~%20%22material%22" target="_blank" ><img src="../../img/external.png" style="border: 0px" title="Report issue" alt="Report issue"/>&nbsp; Report an issue</a></p>
<p><a href="../../link/material.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p>By Reinhard Wimmer</p>
  </body>
</html>
