<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Project Context</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>

<p>Draft: Update of the IFC 2x3 based FM Handover View to IFC4 Add 2</p>

<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.1");
//-->
</script>

<h2 class="std">4.1 Project Context</h2>
<p>All project data sets shall contain a single <a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a> instance indicating overall context and a directory of objects contained within. The context definition may include:</p>
<ul>
 <li>the default units</li>
 <li>the geometric representation context for the shape representations</li>
 <li>the global positioning of the project coordinate system</li>
 <li>the reference to classification systems, or other external information sources, used</li>
 <li>the registry of object types and property templates used in the project context</li>
</ul>
<p class="fig-ref">Figure 1 illustrates an instance diagram.</p>
<table><tr><td><img alt="Project Context" src="./diagrams/project-context.png" usemap="#f1"><map name="f1"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontext.htm" alt="IfcContext" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,52" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,72,376,84" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 1 &mdash; Project Context</p></td></tr></table>

<p><a href="http://jira.buildingsmart.org/issues/?jql=project%20%3D%20IFR%20AND%20text%20~%20%22project-context%22" target="_blank" ><img src="../../img/external.png" style="border: 0px" title="Report issue" alt="Report issue"/>&nbsp; Report an issue</a></p>
<p><a href="../../link/project-context.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p>By Reinhard Wimmer</p>
  </body>
</html>
